[Unit]
Description=Set brightness value from saved value on resume
After=suspend.target

[Service]
Type=simple
ExecStart=/bin/sh -c "xbacklight -set $(cat /tmp/brightness-value)"

[Install]
WantedBy=suspend.target

