configuration {
	width: 15;
	lines: 3;
	font: "Hasklig 11";
	bw: 0;
	location: 2;
	padding: 10;
	yoffset: 450;
	matching: "fuzzy";
	line-padding: 6;
	separator-style: "none";
	hide-scrollbar: true;
	color-normal: "#1d2021, #ffffff, #1d2021, #458588, #ffffff";
	color-window: "#1d2021, #458588, #000000";
}

