configuration {
	width: 15;
	lines: 3;
	font: "Hasklig 11";
	bw: 0;
	location: 2;
	padding: 10;
	yoffset: 450;
	matching: "fuzzy";
	sort: true;
	line-padding: 6;
	separator-style: "none";
	hide-scrollbar: true;
	color-normal: "#3b4252, #eceff4, #3b4252, #2e3440, #eceff4";
	color-window: "#3b4252, #000000, #000000";
}

