snippet desc$
  describe('${0}', () => {
  })

snippet it$
  it('${0}', () => {
  })

snippet pbt$
  fc.assert(fc.property(
    ${0}
  ))

snippet pbta$
  fc.assert(fc.asyncProperty(
    ${0}
  ))

snippet sum$
  export type ${1:X} = Sum.Member<'${2:Y}'${0}>
  export const $1 = Sum.create<$1>()

snippet new$
  type ${1:X}Symbol = { readonly $1: unique symbol }
  export type $1 = Newtype<$1Symbol, ${2:Y}>
