[core]
 excludesfile = /Users/samhh/.gitignore_global

[init]
  templatedir = ~/.git-repo-template/

[push]
  default = simple

[user]
  email = samhh.web@gmail.com
  name = Sam A. Horvath-Hunt

[alias]
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  df = log --graph --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold red)[%an]%Creset' --abbrev-commit --date=relative

  # View the current working tree status using the short format
  st = status --short

  # Other aliases
  br = branch
  co = checkout
  ps = push
  pl = pull
  cm = commit
  call = commit -am
  cam = commit --amend
  camsg = commit --amend --no-edit
  ft = fetch
