[push]
	default = simple

[core]
  excludesfile = ~/.gitignore_global

[alias]
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  hist = log --graph --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold red)[%an]%Creset' --abbrev-commit --date=relative

  # View the current working tree status using the short format
  st = status --short
