# Environment var is required for feh when running via systemd, for some reason

[Unit]
Description=Change wallpaper

[Service]
Type=oneshot
Environment=DISPLAY=:0.0
ExecStart=%h/scripts/wallpaper.sh

