[Unit]
Description=Change wallpaper every hour

[Install]
WantedBy=multi-user.target

[Timer]
Persistent=false
OnActiveSec=1sec
OnUnitActiveSec=1hour
