configuration {
	font: "Hasklig 11";
	location: 0;
	yoffset: -150;
	matching: "fuzzy";
	sort: true;
}

@import "~/.cache/wal/colors-rofi-light"

window {
	width: 400px;
	padding: 10px;
	border-radius: 2px;
	border: false;
}

listview {
	scrollbar: false;
	lines: 3;
	border: false;
}

element {
	padding: 6px;
}

