# Everything here depends upon other per-project configs.
#
# Caddy is unable to generate certificates for .internal, hence the use of
# .localhost. Additionally Chrome and Firefox automatically resolve .localhost
# to loopback, however Safari requires modifying /etc/hosts.

https://unsplash.localhost {
	reverse_proxy :3001
}

https://demos.localhost {
	reverse_proxy :3002
}

# Must be http:// to support insecure ws:// protocol until live-server cuts a
# release including:
#   https://github.com/lomirus/live-server/pull/124
http://samhh.localhost {
	reverse_proxy :3100
}
