# Everything here depends upon other per-project configs.
#
# The .localhost TLD is used instead of .internal as it avoids needing to mess
# with /etc/hosts.

unsplash.localhost {
	reverse_proxy :3001
}

demos.localhost {
	reverse_proxy :3002
}
