[core]
  excludesfile = ~/.gitignore_global

  # Pipe diffs through diff-so-fancy with custom tab sizing
  pager = diff-so-fancy | less --tabs=2 -RFX

[init]
  templatedir = ~/.git-repo-template/

[push]
  default = simple

[user]
  email = git@samhh.com
  name = Sam A. Horvath-Hunt
  signingkey = <GPG_KEY_ID>

[commit]
  gpgsign = true

[alias]
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  lg = log --graph --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold red)[%an]%Creset' --abbrev-commit --date=relative

  # View the current working tree status using the short format
  st = status --short

  # Other aliases
  df = diff
  dfs = diff --staged
  br = branch
  co = checkout
  ps = push
  psf = push --force-with-lease
  pl = pull
  cm = commit -m
  cma = commit -am
  ca = commit --amend --no-edit
  cam = commit --amend
  ft = fetch
