name: Check

on:
  push:

jobs:
  check:
    name: Validate Nix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v24
      - run: nix flake check

  fmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v24
      # `nix fmt` doesn't have a check/dry run option, so we'll run it against
      # files in place and test if there are any diffs with Git.
      - run: |
          nix fmt .
          git diff-index --exit-code HEAD

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v24
      - run: nix develop .#ci -c deadnix -f --exclude ./templates/**/*
