[Unit]
Description=Compositor
After=graphical.target

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/xcompmgr

[Install]
WantedBy=default.target

