[Unit]
Description=Set the wallpaper randomly
Requires=mnt-nas.mount
After=mnt-nas.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-fill --randomize /mnt/nas/bgs/

[Install]
WantedBy=xorg.target

