[Unit]
Description=Set the wallpaper randomly
Requires=mnt-nas.mount
After=mnt-nas.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/wal -s -i /mnt/nas/bgs

[Install]
WantedBy=xorg.target

